.middle-section{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.background{
    width: 1470px;
}
.background-image-container{
    position: relative;
}
.fullname{
    position: absolute;
    top:150px;
    left:400px;
    font-family: Reem Kufi;
    color: white;
    font-size: 65px;
    width: 450px;
}
.logo{
    position: absolute;
    top:100px;
    left:850px;
    height: 300px;
}
.current-image-container{
    position: relative;
    width: 1500px;
    height: 600px;
    
}
.current-date{
    margin-top: 100px;
    position: absolute;
    top:40px;
    left: 20px;
    font-family: Inter;
    font-weight: 900;
    font-style: italic;
    font-size: 37px;
}

.pic1{
    position: absolute;
    height: 440px;
    top:250px;
    left:30px;
}
.picmain{
    position: absolute;
    height: 440px;
    top:250px;
    left:520px;
}
.pic2{
    position: absolute;
    height: 440px;
    top:250px;
    right:10px;
}
.previous-image-container{
    margin-top: 200px;
    position: relative;
    width: 1500px;
    height: 600px;
    
}
.previous-date{
    position: absolute;
    top:40px;
    left: 20px;
    font-family: Inter;
    font-weight: 900;
    font-style: italic;
    font-size: 37px;
}
.pic5{
    position: absolute;
    top: 100px;
    height: 440px;
    left:40px;
}
.pic6{
    position: absolute;
    top: 100px;
    height: 440px;
    right: 40px;
}