html{
  scroll-behavior: smooth;
}
body{
    margin: 0%;
    width: 100%;
    
}
.navbar{
  height: 100px;
  display: flex;
  flex-direction: row;                                                                  
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
}
.left-section{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding-top: 0.4%;
  padding-left: 3%;
}
.left-section img{
  height: 10vh;
  margin-right: 2px;
}
.left-section span{
  font-size: 3rem;
  font-family: Rubik;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;   

}
.right-section ul{
  font-family: Rubik;
  font-size: 1rem;
  padding-right: 10px;
  font-weight: bold;
  text-decoration: none;
}

.right-section ul li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.right-section ul li a{
  text-decoration: none;
  color: #080808;
  padding: 5px 0;
  font-size: 1.4rem;
}

.right-section ul li a:hover{
  color: #267fdd;
  border-bottom:3px solid #267fdd;
  padding-bottom: 5px;
}

label #sidebar_btn, label #cancel{
  color: #000000;
  font-size: 32px;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
  float: right;
  right: 15%;
}
#check{
  display: none;
}

.background{
    width: 100%;
}

.background-image-container{
    position: relative;
    text-align: center;
}

.background-image-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    background: rgba(0, 0, 0, 0.6); /* Adjust the last value (0.5) for the desired transparency */
}
.background-image-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 70%;
    top: 50%; /* A6djust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    display: flex;
    
}

.logo{
    height: 400px; /* Adjust the max width of the logo */
   
}
.fullname {
    color: white; /* Adjust text color */
    font-size: 7rem; /* Adjust font size */
    margin: 0; /* Remove default margin */
    text-align: center;
    font-family: Inter;
    font-style: italic;
    animation: enlarge 3s alternate;
}
@keyframes enlarge {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.2); /* Adjust the scale factor for desired enlargement */
  }
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.heading{
    width: 95%;
    font-family: Inter;
    font-style: italic;
    margin: 30px;
    text-align: center;
    font-size: 5rem ;

}

.container {
    width: 60%;
    margin: 100px ;
    background-color: #fff;
    border: 8px solid #333;
    border-radius: 20px;
    overflow: hidden;
    
}
#scroll{
  transform: translateY(80px);
  transition: opacity 0.5s, transform 1.5s;
}
#scroll.fade-up-active {
  opacity: 1;
  transform: translateY(0);
}
#box-1, #box-3, #box-5, #box-7{
    
    transform: translateX(200px);
    transition: opacity 0.5s, transform 1s;
}
#box-1.fade-up-active, #box-3.fade-up-active, #box-5.fade-up-active, #box-7.fade-up-active{
  opacity: 1;
  transform: translateX(0px);
}
#box-2, #box-4, #box-6{
  
  transform: translateX(-200px);
  transition: opacity 0.5s, transform 1s;
}
#box-2.fade-up-active, #box-4.fade-up-active, #box-6.fade-up-active{
  opacity: 1;
  transform: translateX(0px);

}

.content {
    padding: 40px;
    font-size: 1.7rem;
}

.image {
    float: right;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    
    height: 300px;
}

.footer{
  position: relative; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  bottom: 0; 

  z-index: 10;
  
}
.footer div{
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: Inter;
}
.footer div ul li{
  list-style: none;
}
.mail-contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.mail-contact ul{
padding: 0%;
margin: 0%;
}
.mail-contact a{
  color: #ffffff; 
  font-size: 1rem;
}

.location{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.location ul{
padding: 0%;
margin: 0%;

}

.location img{
  width: 35%;
}

.location li{
  font-size: 1rem;
}
.follow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.follow ul{
padding: 0%;
}

.follow i{
  color: #ffffff;
  font-size: 1.5rem;
}

@media (max-width: 1406px){
  .navbar{
      width: 100%;
  }
  .left-section img{
      left: 1%;
  }
  .left-section span{
      font-size: 35px;
  }
  .left-section img{
      height: 70px;
  }
 
  .right-section ul li{
    padding: 0px 12px;
   
  }
 
}
 
  @media (max-width: 1240px){
    .footer{
      display: grid;
      flex-direction: column;
      height: 100%;
    }
    .footer div ul li{
      font-size: 32px;
      text-align: center;
    }
    .location{
      display: none;
    }
    .follow i{
      font-size: 40px;
    }
    .right-section ul li a{
      font-size: 1rem;
    }
    .image{
      height: 200px;
      width: auto;
    }
   
  }
 
  @media (max-width: 920px){
    label #sidebar_btn{
      display: block;
    }
    .left-section{
      padding-left: 5%;
    }
    .left-section img{
      height: 100px;
    }
    .left-section span{
      font-size: 50px;
    }
    .right-section ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ffffff;
      margin: 0;
      padding: 0;
      top: 100px;
      left: -100%;
      text-align: center;
      font-size: 16px;
      z-index: 1;
    }
 
    .right-section ul li{
      display: block;
      margin: 50px 0;
      line-height: 3vh;
    }
 
    .right-section ul li a{
        font-size: 26px;
    }
    #check:checked +label ~ ul{
      left: 0%;
    }
    #check:checked + label #sidebar_btn {
      display: none;
    }
 
    #check:checked + label #cancel {
        display: block;
    }
 
    #check:not(:checked) + label #sidebar_btn {
        display: block;
    }
 
    #check:not(:checked) + label #cancel {
        display: none;
    }
    .heading{
      margin: 30px 0px;
      font-size: 3.5rem;
    }
    .container{
      margin: 10% 0%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .content{
      padding: 10px 10px;
      font-size: 1.5rem;
    }
    content h2{
      margin: 0% 0%;
    }
  }
 
  @media (max-width: 450px){
    
    .left-section img{
      height: 80px;
    }
    .left-section span{
      font-size: 2rem;
    }
    .fullname{
      font-size: 4rem;
    }
    .image {
      height: 100px;
      width: auto;
    }
    .content {
      
      font-size: 0.9rem;
    }
  
    .footer div ul li{
      font-size: 1.7rem;
      
    }
    .mail-contact{
      padding: 2% 0%;
    }
    .follow i{
      font-size: 1.3rem;
    }
  }
