@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
  font-family: Rubik;
}
html{
    scroll-behavior: smooth;
  }
body{
    margin: 0%;
    width: 100%;
}
.navbar{
    height: 100px;
    display: flex;
    flex-direction: row;                                                                  
    justify-content: space-between;
    background-color: #ffffff;
    color: #000000;
  }
  .left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding-top: 1%; 
    padding-left: 3%;
  }
  .left-section img{
    height: 10vh;
    margin-right: 2px;
  }
  .left-section span{
    font-size: 3rem;
  }
  
  .right-section{
    display: flex;
    align-items: center;
    justify-content: space-between;   
  
  }
  .right-section ul{
    font-size: 1rem;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .right-section ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  }
  
  .right-section ul li a{
    text-decoration: none;
    color: #080808;
    padding: 5px 0;
    font-size: 1.4rem;
  }
  
  .right-section ul li a:hover{
    color: #267fdd;
    border-bottom:3px solid #267fdd;
    padding-bottom: 5px;
  }
  
  label #sidebar_btn, label #cancel{
    color: #000000;
    font-size: 32px;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    float: right;
    right: 15%;
  }
  #check{
    display: none;
  }
  



.background{
    width: 100%;
}

.background-image-container{
    position: relative;
    text-align: center;
    
}

.background-image-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Adjust the last value (0.5) for the desired transparency */
    
}
.background-image-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 70%;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    display: flex;
    
}

.logo{
    height: 600px; /* Adjust the max width of the logo */
   
}
.fullname {
    color: white; /* Adjust text color */
    font-size: 150px; /* Adjust font size */
    margin: 0; /* Remove default margin */
    text-align: center;
    font-family: Inter;
    font-style: italic;
    animation: enlarge 3s alternate;
}
@keyframes enlarge {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2); /* Adjust the scale factor for desired enlargement */
    }
  }
/*
.logo{
    position: absolute
    top:65px;
    left:850px;
    height: 350px;
}
*/
.heading{
    position: absolute;
    width: 95%;
    font-style: italic;
    padding: 30px 0px;
    /* left: 470px; */
    text-align: center;
    font-size: 60px ;

}

.about-para{
    padding: 2% 10%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.about-para h1{
    font-size: 70px;
}

.mlsa{
    border-top: 1px solid #939394;
    border-bottom:1px solid #939394;
    
}
.mlsa ul{
    list-style: none;
    padding: 2%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.mlsa ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
}
.mlsa li a{
    margin: 0% 1%;
}
.mlsa li p{
    font-size: 4rem;
    margin: 0% 5%;
    text-align: center;
    font-style: italic;
    
}

.mlsa img{
    height: 60vh;
    
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10%;
}
.ellipse1,.ellipse2,.ellipse3,.ellipse4,.ellipse5, .ellipse6, .ellipse7{
    position: relative;
    width: 70%;
    font-size: 2rem;
    margin-top: 150px;
    
    /* left: 250px; */
    border-radius: 20px;
    text-align: center; 
    justify-content: space-around;
}

.ellipse1{
    background: #FFA500;
    
}
.ellipse2{
    background: #F25123;
}

.ellipse3{
    background: #00A4EE;
}
.ellipse4{
    background: #FFB900;
}

.ellipse5{
    background: #7EB900;
}
.ellipse6{
    background: #267fdd;
}
.ellipse7{
    background: #939394;
}



.title{
    font-size: 3.5rem;
    margin: 3% 0% 0%;
}


/*.....................*/

.ellipse1 ul, .ellipse2 ul, .ellipse3 ul, .ellipse4 ul, .ellipse5 ul, .ellipse6 ul, .ellipse7 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.ellipse1 li, .ellipse2 li, .ellipse3 li, .ellipse4 li, .ellipse5 li, .ellipse6 li, .ellipse7 li  {
    margin: 2% 10px; /* Adjust the margin as needed */
}

.ellipse1, .ellipse3, .ellipse5, .ellipse7{
    
    transform: translateX(200px);
    transition: opacity 0.5s, transform 1s;
}
.ellipse1.fade-up-active, .ellipse3.fade-up-active, .ellipse5.fade-up-active, .ellipse7.fade-up-active{
  opacity: 1;
  transform: translateX(0px);
}
.ellipse2, .ellipse4, .ellipse6{
  
  transform: translateX(-200px);
  transition: opacity 0.5s, transform 1s;
}
.ellipse2.fade-up-active, .ellipse4.fade-up-active, .ellipse6.fade-up-active{
  opacity: 1;
  transform: translateX(0px);

}

.person ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center the content in each person div */
    display: grid;
}

/*..............*/
.person {
    display: flex;
    justify-content: center;
}
.person ul {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 15%;
}
.person ul li {
    position: relative;
    margin: 0% 2%; /* Adjust the margin as needed */
    font-size: 1.5rem;
    width: 100%;
    
}
.person ul li img {
    transition: transform 0.3s ease; /* Add transform property for image movement */
    
}

.person ul:hover li img {
    transform: translateY(-20px); /* Shift the image up on hover */
    
}
#socials {
    position: relative;
    display: flex;
    transform: translate(0%, -50%);
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 0px;
    padding: 0%;
    
}
#socials a{
    color: #000000;
    padding: 0% 1%;
}
.person ul:hover #socials {
    opacity: 1;
}

#c-name{
    font-weight: bolder;
    font-size: 1.7rem;
    
}
.face{
    width: 200px;
    height: 200px;
    border-radius: 50%; /* This creates a circle by using border-radius */
    overflow: hidden; /* Ensures the image doesn't overflow the circle */
    background-color: #ccc; 
    margin: 0px 0px;
    transform: translate(0%, 10%);
    
}
.agenda{
    background-color: white;
    width: 90%;
    font-size: 25px;
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

/* .name { 
    width: 20%;
    font-family: Inter;
    font-style: italic;
    margin-top: 10px; 
    color: black;
    font-size: 25px;
    top: 600px;
    left: 0px;
    text-align: left;
} */
.names-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.name { 
    width: 200px; /* Set the width to 100% to match the width of the parent container */
    font-style: italic;
    margin-top: 10px; 
    color: black;
    font-size: 25px;
    text-align: center; /* Center the text */
    position: relative; /* Use relative positioning */
    /* top: 25px; */
    left: 30px; 
    margin-right: 50px; 
}
#scroll{
    transform: translateY(-80px);
    transition: opacity 0.5s, transform 1.5s;
}
#scroll.fade-up-active {
    opacity: 1;
    transform: translateY(0);
}
/*footer*/
.footer{
    position: relative; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    bottom: 0; 
  
    z-index: 10;
    
}
.footer div{
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
}
.footer div ul li{
    list-style: none;
}
.mail-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mail-contact ul{
  padding: 0%;
  margin: 0%;
}
.mail-contact a{
    color: #ffffff; 
    font-size: 1rem;
}

.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location ul{
  padding: 0%;
  margin: 0%;
  
}

.location img{
    width: 35%;
}

.location li{
    font-size: 1rem;
}
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.follow ul{
  padding: 0%;
}

.follow i{
    color: #ffffff;
    font-size: 1.5rem;
}

@media (max-width: 1406px){
      .navbar{
        width: 100%;
    }
    .left-section img{
        left: 1%;
    }
    .left-section span{
        font-size: 35px;
    }
    .left-section img{
        height: 70px;
    }

    .right-section ul li{
      padding: 0px 12px;
      
    }
    
    .face{
      width: 185px;
      height: 185px;
    }
    #c-name{
      font-size: 1.5rem;
    }
    .person ul li{
      font-size: 1.1rem;
  }

  }
  
  @media (max-width: 1240px){
    .footer{
      display: grid;
      flex-direction: column;
      height: 100%;
    }
    .footer div ul li{
      font-size: 32px;
      text-align: center;
    }
    .location{
      display: none;
    }
    .follow i{
      font-size: 40px;
    }
    .right-section ul li a{
      font-size: 1rem;
    }
    .background-image-container ul{
        height: 30vh;
    }
    
    .ellipse2 ul, .ellipse3 ul, .ellipse5 ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; /* Center items horizontally */
        text-align: center; 
    }
    .person ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mlsa img{
      height: 40vh;
    }
    .mlsa ul {
      display: flex;
    }
    .title{
      font-size: 2.5rem;
    }
    .image-column img {
      height: 45vh;
      width: auto;
    }
    .about-para {
      padding: 2% 5%;
      font-size: 1.5rem;
    }
    .fullname{
      font-size: 70px;
    }
    .logo{
      height: 50px;
    }
  }
  
  @media (max-width: 915px){
    label #sidebar_btn{
      display: block;
    }
    .left-section{
      padding-left: 5%;
    }
    .left-section img{
      height: 100px;
    }
    .left-section span{
      font-size: 50px;
    }
    .right-section ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ffffff;
      margin: 0;
      padding: 0;
      top: 99px;
      left: -100%;
      text-align: center;
      font-size: 16px;
      z-index: 1;
    }
  
    .right-section ul li{
      display: block;
      margin: 50px 0;
      line-height: 3vh;
    }
  
    .right-section ul li a{
        font-size: 26px;
    }
    #check:checked +label ~ ul{
      left: 0%;
    }
    #check:checked + label #sidebar_btn {
      display: none;
    }
  
    #check:checked + label #cancel {
        display: block;
    }
  
    #check:not(:checked) + label #sidebar_btn {
        display: block;
    }
  
    #check:not(:checked) + label #cancel {
        display: none;
    }
    
    .ellipse1 ul,
    .ellipse2 ul,
    .ellipse3 ul,
    .ellipse4 ul,
    .ellipse5 ul,
    .ellipse6 ul,
    .ellipse7 ul {
        flex-direction: column;
        align-items: center;
    }

    .person {
        width: 100%; 
    }

    .person ul {
        display: block;
        text-align: center;
    }

    .person ul li {
        margin-right: 0;
    }
    .person ul li img{
        margin: 0%;
    }

    .face {
        margin-right: 0;
        margin-bottom: 10px; 
    }
    .ellipse1 ul, .ellipse2 ul, .ellipse3 ul, .ellipse4 ul, .ellipse5 ul, .ellipse6 ul, .ellipse7 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .person img{
        transform: translateY(-20px);
        margin: 0%;
    }
    .person ul #socials{
        opacity: 1;
    }
    .name {
        width: 100%;
        margin-right: 0;
    }
    .mlsa li p {
        font-size: 4rem;

    }
    .mlsa ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2% 0%;
    }
    .mlsa ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mlsa ul li img{
        height: 30vh;
    }
    .mlsa{
        margin: 0% 0% 5%;
    }
    
  }
  
  @media screen and(max-width: 600px){
    
    
    .follow i{
      font-size: 1.4rem;
    }
    .fullname{
      font-size: 30px;
    }
 
   
    .middle-section ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo{
      height: 15px;
    }
    .middle-section ul {
      height: 90%;
    }
    .middle-section ul {
      height: 90%;
    }
    .middle-section ul li img {
      height: 40vh;
      float: left;
    }
    .about-container ul li p {
      font-size: 1.2rem;
    }
    .heading{
      font-size: 3rem;
    }
    .recent-event {
      width: 80%;
      margin: 0 10px;
    }
    .carousel-title {
      font-size: 2rem;
    }
    .about-para{
        padding: 2% 3%;
    }
    .about-para p{
        font-size: 2rem;
    }
  }
  
  @media (max-width: 420px){
    label #sidebar_btn, label #cancel {
      margin-right: 0px;
      padding-right: 30px;
      
    }
    .left-section img {
      height: 80px;
    }
    .left-section span {
      font-size: 2rem;
    }
    .footer div ul li{
      font-size: 1.7rem;
    }
    .mail-contact{
      padding: 2% 0%;
    }
    .follow i{
      font-size: 1.3rem;
    }
    .fullname{
        font-size: 3.5rem;
    }
    .heading{
        font-size: 2.5rem;
    }
    .about-para {
        padding: 2% 3%;
        text-align: center;
        font-size: 0.8rem;
        font-style: italic;
    }
    .ellipse1 p,
    .ellipse2 p,
    .ellipse3 p,
    .ellipse4 p,
    .ellipse5 p,
    .ellipse6 p,
    .ellipse7 p{
        font-size: 1.5rem;
    }
    .person ul #socials {
        padding-top: 5%;
    }
    #c-name{
        font-size: 1.7rem;
    }
    .mlsa li p {
        font-size: 2rem;
    }
    .face{
      width: 180px;
      height: 180px;
    }
    .title{
      padding: 0% 5%;
    }
    
}
