html{
  scroll-behavior: smooth;
}
body{
    margin: 0%;
    width: 100%;
    font-family: Reem Kufi;
}
.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;                                                                  
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
 

}
.left-section{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding-top: 0.4%;
  padding-left: 3%;
}
.left-section img{
  height: 10vh;
  margin-right: 2px;
}
.left-section span{
  font-size: 3rem;
  font-family: Rubik;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;   

}
.right-section ul{
  font-family: Rubik;
  font-size: 1rem;
  padding-right: 10px;
  font-weight: bold;
  text-decoration: none;
}

.right-section ul li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.right-section ul li a{
  text-decoration: none;
  color: #080808;
  padding: 5px 0;
  font-size: 1.4rem;
}

.right-section ul li a:hover{
  color: #267fdd;
  border-bottom:3px solid #267fdd;
  padding-bottom: 5px;
}

label #sidebar_btn, label #cancel{
  color: #000000;
  font-size: 32px;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
  float: right;
  right: 15%;
}
#check{
  display: none;
}

.middle-section{
    background-image: url("background2.jpg");
    min-height: 85vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-section ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  list-style: none;
  
}
.middle-section ul li{
  color: #ffffff;
  
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  
}
.middle-section ul li p {
  padding: 0;
  margin: 0;
  font-size: 1.5rem
}
.middle-section ul li h2{
  padding: 0;
  margin: 0;
  font-size: 5rem
}
.middle-section ul li a{
  padding: 1% 2%;
  background-color: #9c9c9c;
  margin: 0;
  font-size: 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
}
.middle-section ul li a:hover{
  background-color: transparent;
}

.about-container{
    height: 750px;
    position: relative;
}
.about-container h2{
    text-align: left;
    font-size: 3rem;
    margin: 1% 0% 0%;
    font-weight: 700;
    font-family: Inter;
    padding: 0% 10%;
    
}

.about-container ul{
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    
}
.about-container ul li {
    text-align: center; 
    margin-bottom: 10px;
    font-size: 2rem;
    width: 20%;
} 
.about-container li img{
    border: 3px solid #ccc; /* Border color */
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: border-color 0.3s, box-shadow 0.3s;

    border-radius: 50%;
}
.about-container ul li p{
    display: block;
    margin: 1% 0%;
}
.about-container li img:hover + p{
    border-color: rgb(0, 0, 0); /* Border color on hover */
    box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
    display: block;
}
.text{
    font-size: 1.5rem;
    font-family: Inter;
    text-align: justify;
    padding: 2% 10%;
    color: rgb(139, 142, 144);
    
}


.web, .powerbi{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}

.mtc-para{
    font-family: Inter;
    font-size: 1.5rem;
    
}
.recent-events-container{
    position: absolute;
   
}
.recent-events{
    position: absolute;
    top: 0px;
    left:600px;
    font-family: Inter;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
}
#scroll{
  transform: translateY(80px);
  transition: opacity 0.5s, transform 1.5s;
}
#scroll.fade-up-active {
  opacity: 1;
  transform: translateY(0);
}
.registration-container{
    position: relative;
    display: grid;
    justify-content: column;
    align-items: center;
}

.reg-container{
    position: relative;
    padding: 1.5% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-logo{
    margin-left: 30px;
    height: 130px;
}
.register{
    font-family: Inter;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
}


/*footer*/


.mlsa{
    border-top: 1px solid #939394;
    border-bottom:1px solid #949393;
    background-color: rgb(233, 111, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mlsa ul{
    list-style: none;
    padding: 3%;
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
}
.mlsa ul li{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mlsa li p{
    font-size: 2rem;
    margin: 3% 5%;
    text-align: center;
    font-family: Inter;
    font-style: italic;
    color: rgb(79, 26, 26);
    text-align: justify;
}

.mlsa img{
    height: 60vh;  
}
.container{
    margin: 5% 0%;

}
.event-btn{
    list-style: none;
    text-align: center;
    
}

.event-btn a{
    background-color: rgb(2, 2, 47);
    border-radius: 40px;
    font-family: Inter;
    font-weight: 800;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 2% 5%;
}

.event-btn a:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
   
}

.event-btn li{
    padding-bottom: 7%;
    position: relative;
}
.recent-events-container {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    padding: 2% 0%;
    background-color: rgb(240, 193, 7);
}
.recent-events-carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 40vh;
    margin-left: -10px; 
}
.recent-event {
    width: 100%;
    margin: 0 10px;
}

.carousel-title {

    margin: 2% 5%;
    text-align: center;
    font-family: Inter;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 700;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image-column {
   
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-column img {
   
    border-radius: 50px;
    height: 50vh;
    width: auto;
}
#box-1{
    
  transform: translateX(200px);
  transition: opacity 0.5s, transform 1s;
}
#box-1.fade-up-active{
opacity: 1;
transform: translateX(0px);
}
#box-2{

transform: translateX(-200px);
transition: opacity 0.5s, transform 1s;
}
#box-2.fade-up-active{
opacity: 1;
transform: translateX(0px);

}

.footer{
  position: relative; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  bottom: 0; 

  z-index: 10;
  
}
.footer div{
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: Inter;
}
.footer div ul li{
  list-style: none;
}
.mail-contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.mail-contact ul{
padding: 0%;
margin: 0%;
}
.mail-contact a{
  color: #ffffff; 
  font-size: 1rem;
}

.location{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.location ul{
padding: 0%;
margin: 0%;

}

.location img{
  width: 35%;
}

.location li{
  font-size: 1rem;
}
.follow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.follow ul{
padding: 0%;
}

.follow i{
  color: #ffffff;
  font-size: 1.5rem;
}

@media (max-width: 1406px){
  .navbar{
      width: 100%;
  }
  .left-section img{
      left: 1%;
  }
  .left-section span{
      font-size: 35px;
  }
  .left-section img{
      height: 70px;
  }
  
  .right-section ul li{
    padding: 0px 12px;
    
  }
  .about-container li img{
    height: 250px;
    width: 250px;
  }
  
}

@media (max-width: 1240px){
  
  .footer{
    display: grid;
    flex-direction: column;
    height: 100%;
  }
  .footer div ul li{
    font-size: 32px;
    text-align: center;
  }
  .location{
    display: none;
  }
  .follow i{
    font-size: 40px;
  }
  .right-section ul li a{
    font-size: 1rem;
  }
  .middle-section ul li img {
    height: 35vh;
    width: auto;
    float: left;
  }
  .about-container li img{
    height: 175px;
    width: 175px;
  }
  .about-container {
    height: 800px;
  }
  .mlsa img{
    height: 30vh;
  }
  .mlsa ul li {
    width: 80%;
    margin: 0%;
  }
  .image-column img {
    height: 45vh;
    width: auto;
  }
  .mlsa img{
    height: 50vh;
  }
  .fullname{
    font-size: 70px;
  }
  .logo{
    height: 50px;
  }
  .image-column img {
    height: 30vh;
    width: auto;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1024px){
  .mlsa img {
    height: 30vh;
  }
  .about-container li img {
    height: 200px;
    width: 200px;
  }
  .middle-section ul{
    width: 90%;
  }
}

@media (max-width: 920px){
  
  label #sidebar_btn{
    display: block;
  }
  .left-section{
    padding-left: 5%;
  }
  .left-section img{
    height: 100px;
  }
  .left-section span{
    font-size: 50px;
  }
  .right-section ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    margin: 0;
    padding: 0;
    top: 100px;
    left: -100%;
    text-align: center;
    font-size: 16px;
    z-index: 1;
  }

  .right-section ul li{
    display: block;
    margin: 50px 0;
    line-height: 3vh;
  }

  .right-section ul li a{
      font-size: 26px;
  }
  #check:checked +label ~ ul{
    left: 0%;
  }
  #check:checked + label #sidebar_btn {
    display: none;
  }

  #check:checked + label #cancel {
      display: block;
  }

  #check:not(:checked) + label #sidebar_btn {
      display: block;
  }

  #check:not(:checked) + label #cancel {
      display: none;
  }
  
  #scroll{
    transform: translateY(0px);
    transition: opacity 0.5s, transform 1.5s;
  }
  #box-1{ 
    transform: translateX(0px);
    transition: opacity 0.5s, transform 1s;
  }
 
  #box-2{
    transform: translateX(0px);
    transition: opacity 0.5s, transform 1s;
  }
  .fullname{
    font-size: 50px;
  }
  .logo{
    height: 50px;
  }
  .about-container{
    height: 1000px;
  }
  .about-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; /* Center items horizontally */
    text-align: center; 
  
  }
  .about-container ul li{
    width: 100%;
  }

  .about-container ul li img{
    width: 250px;
    height: 250px;
  }
  .about-container ul li p {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  .recent-event {
    width: 80%;
  }
  .middle-section  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middle-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    padding-bottom: 5%;
  
  }
  .middle-section ul li img {
    height: 30vh;
    width: auto;
    float: left;
  }

  .middle-section ul li p {
    font-size: 1.5rem
  }
  .middle-section ul li h2{
    font-size: 3.5rem
  }
  .middle-section ul li a{
    font-size: 1rem;
    
  }
  
  .mlsa img{
    height: 40vh;
    margin: 3% 0%;
  }
  .mlsa ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mlsa ul li {
    width: 100%;
    margin: 0%;
  }
  .mlsa li p{
    margin: 0%;
    
  }
  .image-column img {
    height: 30vh;
    width: auto;
  }
  
}

@media (max-width: 600px){
  
  .fullname{
    font-size: 30px;
  }
  .middle-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    height: 15px;
  }
  .middle-section  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middle-section ul {
    height: 70%;
    width: 90%;
    padding-bottom: 5%;
  }
  .middle-section ul li p {
    font-size: 1rem
  }
  .middle-section ul li h2{
    font-size: 2.5rem
  }
  .middle-section ul li a{
    font-size: 1rem;
    
  }
  .middle-section ul li img {

    float: left;
  }
  .about-container {
    height: 1000px;
  }
  .about-container ul li p {
    font-size: 1.2rem;
  }
  .about-container ul li img {
    height: 200px;
    width: 200px;
  }
  .recent-event {
    width: 80%;
    margin: 0 10px;
  }
  .carousel-title {
    font-size: 2rem;
  }
}

@media (max-width: 450px){
  #fullname{
    font-size: 1.5rem;
  }
  
  .middle-section  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .middle-section ul {
    width: 90%;
  }
  .middle-section ul li img {
    height: 40vh;
    width: auto;
  }
  .middle-section ul li p {
    font-size: 1rem
  }
  .middle-section ul li h2{
    font-size: 2rem
  }
  .middle-section ul li a{
    font-size: 1rem;
  }
  .logo{
    height: 15px;
  }
  
  #mtc-logo{
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recent-event {
    width: 80%;
    margin: 0 10px;
  }
  .recent-events-container{
    margin-top: 20px;
  }
  .carousel-title {
    font-size: 2rem;
  }
  .image-column {
    margin: 2%;
  }
  .image-column img {
    height: 20vh;
    width: auto;
    border-radius: 30px;
  }

  .logo{
    height: 15px;
  }
  .text {
    font-size: 1rem;
    padding: 3% 5%;
  }
  .about-container {
    height: 650px;
  }
  
  .about-container h2 {
    font-size: 2rem;
  }
  .about-container ul li {
    width: 100%;
  }
  .about-container ul li p {
    font-size: 1rem;
    display: block;
  }
  .about-container ul li img {
    height: 100px;
    width: 100px;
  }
  .recent-event {
    width: 60%;
    margin: 0 10px;
  }
 
  .register {
    font-size: 1.5rem;
  }
  .register-logo {
    margin-left: 5px;
    height: 80px;
  }
  .event-btn{
    padding: 0%;
  }
  .event-btn a{
    font-size: 1.2rem;
  }
  .carousel-title {
    font-size: 1.2rem;
  }
  .mlsa img {
    height: 25vh;
    margin: 3% 0%;
  }
  .mlsa li p {
    font-size: 1rem;
  }
  .left-section img {
    height: 80px;
  }
  .left-section span {
    font-size: 2rem;
  }
  .footer div ul li{
    font-size: 1.7rem;
  }
  .mail-contact{
    padding: 2% 0%;
  }
  .follow i{
    font-size: 1.3rem;
  }
}